# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Android
android/local.properties
android/.gradle/
android/gradle-wrapper.jar
android/captures/
android/gradlew
android/gradlew.bat
*.iml
*.jks
*.keystore

# IDE
.idea/
.vscode/

# macOS
.DS_Store
